#inputs ul {
    list-style-type: none;
    margin : 0;
    padding: 0;
}

.del-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: end;
}

#add-btn {
    width: 100%;
}