#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center;
}

#resume {
  max-width: 210mm;
  max-height: 297mm;
  border: 1px solid black;
}

@media print {
  #inputs {
    display: none;
  }

  #root {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: sans-serif;
    size: A4 portrait;
    border: none;
  }
}