#root {
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  box-sizing: border-box;
}

#resume {
  max-width: 210mm;
  max-height: 297mm;
  border: 1px solid black;

  hr {
    margin: 0;
    padding: 0;
    border: 1px solid;
    border-color: black !important;
    opacity: 1;
  }

  h4 {
    margin-bottom: 0; 
  }

  p {
    margin: 0;
  }
}

@media print {
  #inputs {
    display: none;
  }

  #root {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: sans-serif;
    size: A4 portrait;
  }

  #resume {
    border: none;
  }
}