#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  min-height: 100vh;
  box-sizing: border-box;
}

#resume {
  width: 8.5in;
  height: 11in;
  border: 2px solid black;
}